<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Privacy Policy</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <link rel="stylesheet" href="/css/bootstrap.min.css" /> 

</head>
<body>


    <div class="container" style = "margin-top:30px ;">
         
        <h2> Details on data usage on the App </h2> 
        <ul>
            <li> We only take images of users when permission is given </li> 
            <li> The extracted image after processing is kept for model improvement </li> 
            <li> We <b> DO NOT </b> keep the original Image of the user </li> 
        </ul>

    </div>

    
    
</body>
</html>